@tailwind base;
@tailwind components;
@tailwind utilities;

.jui-accordion-desc-fade {
  animation: JuifadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes JuifadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.jui-alert-dialog-popup {
  animation: popup 0.7s;
}

@keyframes popup {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

#jui-breadcrumb-item:last-child {
  color: black !important;
}
